@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c1: #C5C6C7;
  --c2: #66FCF1;
  --c3: #45A29E;
  --c4: #10191F;
  --c5: #0B0c10;
  --shadow-c3: 0 0 20px 10px rgba(50, 130, 120, 0.2);
}

body {
    background-color: var(--c5);
    color: #C5C6C7;
    font-family: 'Orbitron', sans-serif;
}